body {
    font-family: Georgia, serif;
font-size: 25px;
letter-spacing: 1px;
word-spacing: 1px;
color: #000000;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}

input.text {
    height: 25px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

button {
    height: 35px;
    font-size: 15px;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(77, 55, 224);
}